
.highlight {
	background: #ffe445;
}

.light-highlight {
	background: lighten(#ffe445, 20%);
}

.testimonial {

}

blockquote {
  border-left: 4px solid #CFCFCF;
  opacity: 0.5;
  display: block;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.05em;
  font-family: 'Karla';
  line-height: 1.7;

  &:after,
  &:before {
  	display: none;
  }

  cite {
  	display: block;
  	font-size:0.8em;
  	margin-top:10px;
  }
}

.button {
	height: 40px;
	line-height: 36px;
	border: 2px solid #222;
	border-radius: 4px;
	display: inline-block;
	font-size: 19px;
	text-decoration: none;
	padding: 0 40px;
	color: #222;
	font-family: 'karla';
	margin-top: 4px;
}