RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.carlfairclough\.me [NC]
RewriteRule ^(.*)$ http://carlfairclough.me/$1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
