body.hire {
	min-width:780px;
}
.hire-types {
	h2 {
		border-top:1px solid #cfcfcf;
		padding-top:60px;
		margin-top:60px;
		&:first-of-type {
			border-top:none;
			padding-top:0;
			margin-top:0;
		}
	}
}

.testimonial {
	img {
		width:22%;
		float:left;
		border-radius:50%;
	}
	blockquote {
		width:75%;
		float:right;
	}
}

header nav {
	left:0;
	width:100%;
	min-width:780px
}