.cal-wrap {
    width:100%;
    max-width:240px;
    display: inline-block;


    ul.month-cal {
        width:168px;
        float: left;
        list-style: none;
        margin:0;
        padding:0;

        li {
            width:14px;
            height:14px;
            border-radius: 7px;
            margin-right:10px;
            margin-bottom:10px;
            background:#ffe445;
            position: relative;
            text-indent: -9999em;
            overflow: hidden;
            float:left;
            
            &.other-month {
                visibility: hidden;
            }

            &.Booked {
                background:#DDD;
            }

            &.Unavailable {
                background:transparent;
                border:1px solid #DDD;
            }
        } 
    } 
}

section.availability {
    background:#f7f7f7;
}